<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script src="/templates/scripts.js"></script>
</head>
<body>
<nav>
    <a href="http://localhost:8080/todo">Home</a>
    <a href="http://localhost:8080/todo">About</a>
</nav>
<hr>
<form action="/todo" method="get" id="newTask">
    <label for="title"> Title: </label>
    <textarea name="title" id="title" cols="30" rows="10" required></textarea>

    <label for="description"> Description: </label>
    <textarea name="description" id="description" cols="30" rows="10" required></textarea>

    <label for="dueDate"> Due Date: </label>
    <input type="date" id="dueDate" required>

    <button type="submit" onclick="createTask()">Create new Task</button>
</form>
</body>
</html>