<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/templates/style.css">
    <script src="/templates/scripts.js" defer></script>
</head>
<body>
<nav>
    <a href="http://localhost:8080/todo">Home</a>
    <a href="http://localhost:8080/todo">About</a>
    <a href="http://localhost:8080/todo/create">Create</a>
</nav>
<hr>
{{range $i, $item := .}}
<div class="tasks" data-key="{{$item.Id}}">
    <label for="title{{$item.Id}}"></label>
    <textarea name="title{{$item.Id}}" id="title{{$item.Id}}" cols="7" rows="6">{{$item.Title}}</textarea>
    <label for="description{{$item.Id}}"></label>
    <textarea name="description{{$item.Id}}" id="description{{$item.Id}}" cols="40" rows="8">{{$item.Description}}
    </textarea>
    <label for="dueDate{{$item.Id}}">Due Date:</label>
    <input type="date" name="dueDate{{$item.Id}}" id="dueDate{{$item.Id}}" placeholder="{{$item.DueDate}}">
    <label for="completed{{$item.Id}}">Completed</label>
    <input type="checkbox" name="completed{{$item.Id}}" id="completed{{$item.Id}}">
    <nav>
        <button type="button" onclick="deleteTask('{{$item.Id}}')">Delete</button>
        <button type="button" onclick="updateTask()">Update</button>
    </nav>
    <h1>{{$item.IsCompleted}}</h1>
    <script>
        document.getElementById("completed{{$item.Id}}").checked = {{if $item.IsCompleted}}true{{else}}false{{end}};
    </script>
</div>
{{end}}

</body>
</html>