<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3;
        }

        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }

        body {
            background-color: #ffdbc3;
        }
    </style>
</head>
<body>
<nav>
    <a href="/create"> Create</a>
    <a href="#"> About</a>
</nav>
<hr>
<h1> Message </h1>
<nav>
    {{range .}}
    {{range $key, $value := .}}
    <div class="message" data-key={{$key}}>
        <h3>{{$key}}</h3>
        <p>{{$value}}</p>
        <button type=button onclick="deleteMessage('{{$key}}')">Delete</button>
    </div>
    {{end}}
    {{end}}
</nav>
<script>
    function deleteMessage(key) {
        let url = "http://localhost:8080/delete?title=" + encodeURIComponent(key)
        fetch(url, {
            method: "DELETE",
        }).then(response => {
            if (response.ok) {
                document.querySelector(`[data-key='${key}']`).remove();
                document.querySelector(`.message[data-key='${key}']`).remove();
            } else {
                console.error("Error")
            }
        })
    }

    function updateGui() {
        document.getElementById("").remove()
    }
</script>
</body>
</html>